.footer-cnt {
  width: 100%;
  background-color: var(--lightgray);
  display: flex;
  justify-content: center;

  padding-top: 380px;
}

.footer-cnt p {
  color: var(--darkgreen);
  margin-bottom: 20px;
}

.logo-cnt {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
