.login-cnt {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  max-width: 100%;
}

/* FORM */

.loginform {
  width: 27em;
  height: 60vh;
  backdrop-filter: blur(5px);
  background-color: rgb(243, 243, 243);
  color: white;
  border-radius: 1em;
  text-align: center;
  padding: 50px 100px;
}

label {
  text-align: end;
  color: rgb(145, 145, 145);
}
label p {
  margin-top: 10px;
  margin-bottom: 5px;
}

.input {
  font-family: var(--asapfont);
  width: 100%;
  margin: 5px;
  height: 3em;
  text-align: center;
  border-style: none;
}

.input:focus {
  border-color: var(--tae_foreground_primary);
}

.loginform h1 {
  font-size: 3em;
  color: black;
}

.loginform form {
  margin-top: 100px;
}

.buttons {
  margin-top: 100px;
}

.buttons button,
.login-btn {
  width: 100%;
  height: 4em;
  border-style: none;
  margin: 5px;
  background-color: var(--primary);
  color: white;
}

.login-btn {
  margin-top: 50px;
}

.buttons button:hover {
  background-color: var(--hover-blue);
}

.label-cnt a {
  font-size: 12px;
  padding-top: 50px;
  margin-left: 250px;
  text-decoration: none;
  color: var(--hover-blue);
}

/* LOGINCONFIRMATION */

.loginconfirm-cnt {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 100px 40px 0;
  background: var(--lightgreen);
  height: 60px;
  width: 250px;
  font-size: 18px;
  color: var(--darkgreen);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loginani 5s forwards;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

@keyframes loginani {
  0% {
    opacity: 0;
    margin-bottom: 0;
  }

  10% {
    opacity: 1;
    margin-bottom: 40px;
  }

  90% {
    opacity: 1;
    margin-bottom: 40px;
  }

  100% {
    opacity: 0;
    margin-bottom: 0;
  }
}
