* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  /* COLORS */
  --primary: #2368a1;
  --secondary: #aad5f5;
  --hover-blue: #1a4971;
  --black: #222429;
  --red: #cc2c2d;
  --lightgray: #f1f3f5;
  --darkgreen: #1b645d;
  --lightgreen: #6fd7d3;
}

body {
  overflow-x: hidden; /* Hide scrollbars */
  scroll-behavior: smooth;
}
a {
  transition: 0.1s;
}
a:hover {
  margin-left: 5px;
  color: var(--hover-blue);
}

/* NAVIGATION */

.application {
  display: flex;
}

.content {
  width: 87.5%;
}

.nav {
  top: 0;
  position: sticky;
  min-width: 230px;
  height: 100vh;
  background-color: var(--primary);
}

.selectedLink {
  background-color: #1b645d;
}

.selected {
  color: #ff0000;
}
