* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  /* COLORS */
  --primary: #2368a1;
  --secondary: #aad5f5;
  --hover-blue: #1a4971;
  --red: #cc2c2d;
  --darkgreen: #1b645d;
  --lightgreen: #6fd7d3;
  --black: #222429;
  --lightgray: #f1f3f5;
  --gray1: #495057;
  --gray2: #848d96;
  --gray3: #acb5bd;
}

body {
  overflow-x: hidden; /* Hide scrollbars */
  scroll-behavior: smooth;
}

a {
  transition: 0.1s;
  color: white;
  text-decoration: none;
}

a:hover {
  margin-left: 5px;
}

/* NAVIGATION */

.application {
  display: flex;
}

.content {
  width: 87.5%;
}

.nav {
  top: 0;
  position: sticky;
  min-width: 230px;
  height: 100vh;
  background-color: var(--primary);
}

.mobilenav {
  display: none;
}

/** RESPONSIVE **/

@media only screen and (max-width: 1100px) {
  .nav {
    display: none;
  }

  .content {
    width: 100%;
  }

  .mobilenav {
    display: block;
  }

  .shownav-btn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }

  .mobile-nav-cnt {
    background-color: var(--primary);
    animation: navanimation 0.5s forwards ease-in-out;
    display: block;
    position: fixed;
    top: 0;
    width: 0%;
  }

  @keyframes navanimation {
    from {
      width: 0px;
    }
    to {
      width: 250px;
    }
  }
}
