.feed {
  margin-top: 100px;
  margin: auto;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feed-element {
  width: 640px;
  height: 360px;
  background-color: var(--lightgray);
  margin: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
}

.buttons button {
  width: 100px;
}

.VideoInput_footer {
  margin-bottom: 100px;
}
