.feed {
  margin-top: 100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}
.video-js {
  max-width: 600px;
}
.video-cont {
  margin: 20px;
  max-width: 600px;
}

.video-data {
  background-color: var(--lightgray);
  max-width: 100%;
  padding: 20px 0px 0px 30px;
}

.video-data h1 {
  max-width: 80%;
  font-size: 1rem;
}

.header-video p {
  color: var(--gray);
  font-size: 0.8rem;
}

.video-actions {
  height: 90px;
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

.video-stroke {
  height: 5px;
  width: 100%;
  background-color: var(--primary);
}
