.profile-cnt {
  min-height: 100vh;
}

.profiledata {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 30px 0px;
}

.profiledata h1 {
  margin-top: 10px;
  font-size: 1.2em;
}

.profiledata img {
  width: 90px;
  margin-top: 20px;
  filter: invert(100%) sepia(100%) saturate(15%) hue-rotate(213deg)
    brightness(105%) contrast(100%);
}

.picture-icon-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: var(--primary);
}

/** BAGDES **/

.badges-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgray);
  margin: auto;
  width: 70%;
}

.badge {
  background-color: var(--hover-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.badge img {
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-info-cnt-displayed {
  position: absolute;
  width: 200px;
  height: 100px;
  background-color: #acb5bd;
  left: center;
  top: 21rem;
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  font-size:larger;
  color: black;
}

.badge-info-cnt-displayed p {
  font-size: small;
}

.badge-info-cnt-notdisplayed {
  display: none;
}

/** CLIPS **/

.most-popularclips-cnt {
  width: 70%;
  margin-left: 15%;
}

.stroke-blue {
  margin-top: 100px;
  height: 35px;
  width: 100%;
  background-color: var(--primary);
}

.stroke-blue h1 {
  background-color: white;
  width: 100px;
  height: 30px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.post-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;

  background-color: rgb(235, 235, 235);
}
