.editprofile-header {
  width: 100%;
  height: 250px;
  background-color: var(--secondary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.editprofile-header h1 {
  margin-bottom: -50px;
  font-size: 3.5rem;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 120px;
}

.edit-cnt {
  background-color: var(--lightgray);
  padding: 50px;
  width: 54%;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 100px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.edit-choice-cnt {
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 60%;
  font-size-adjust: 0.5;
}

.edit-choice-cnt > h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.edit-btn-save {
  border-style: none;
  background-color: var(--primary);
  width: 10rem;
  height: 5rem;
  color: white;
}

.edit-btn-save:hover {
  background-color: var(--hover-blue);
}

.edit-form-cnt {
  width: 100%;
}

@media only screen and (min-width: 1345px) {
  .edit-choice-button-displayed {
    border-style: none;
    height: 15%;
    width: 100%;
    background-color: #e1e1e1;
    font-size: 20px;
  }

  .edit-choice-button {
    border-style: none;
    background-color: var(--lightgray);
    height: 15%;
    width: 100%;
    font-size: 20px;
  }

  .edit-choice-button:hover {
    background-color: #e1e1e1;
  }

  .change-inputs-cnt {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .change-inputs-cnt > h2 {
    width: 100%;
    font-size: 20px;
  }

  .change-input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200%;
    display: flex;
    min-width: 100%;
  }

  .separator-cnt {
    justify-content: center;
    align-items: center;
  }

  .separator-vertical {
    height: 30rem;
    width: 7px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 2px;
    background-color: #e1e1e1;
  }

  .separator-horizontal {
    height: 3px;
    border-radius: 2px;
    width: 100%;
    background-color: #e1e1e1;
  }
}

@media only screen and (max-width: 1344px) and (min-width: 1291px) {
  .edit-choice-button-displayed {
    border-style: none;
    height: 15%;
    width: 100%;
    background-color: #e1e1e1;
    font-size: 17px;
  }

  .edit-choice-button {
    border-style: none;
    background-color: var(--lightgray);
    height: 15%;
    width: 100%;
    font-size: 17px;
  }

  .edit-choice-button:hover {
    background-color: #e1e1e1;
  }

  .change-inputs-cnt {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .change-inputs-cnt > h2 {
    width: 100%;
    font-size: 17px;
  }

  .change-input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200%;
    display: flex;
    min-width: 100%;
  }

  .separator-cnt {
    justify-content: center;
    align-items: center;
  }

  .separator-vertical {
    height: 30rem;
    width: 3px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 2px;
    background-color: #e1e1e1;
  }

  .separator-horizontal {
    height: 3px;
    border-radius: 2px;
    width: 100%;
    background-color: #e1e1e1;
  }
}

@media only screen and (max-width: 1290px) and (min-width: 1000px) {
  .edit-choice-button {
    border-style: none;
    background-color: var(--lightgray);
    height: 15%;
    width: 100%;
    font-size: 15px;
  }
  .edit-choice-button-displayed {
    border-style: none;
    height: 15%;
    width: 100%;
    background-color: #e1e1e1;
    font-size: 15px;
  }

  .edit-choice-button:hover {
    background-color: #e1e1e1;
    font-size: 15px;
  }

  .change-inputs-cnt {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .change-inputs-cnt > h2 {
    width: 100%;
    font-size: 15px;
  }

  .change-input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200%;
    display: flex;
    min-width: 100%;
    font-size: 15px;
  }

  .separator-cnt {
    justify-content: center;
    align-items: center;
  }

  .separator-vertical {
    height: 30rem;
    width: 3px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 2px;
    background-color: #e1e1e1;
  }

  .separator-horizontal {
    height: 3px;
    border-radius: 2px;
    width: 100%;
    background-color: #e1e1e1;
  }
}

@media only screen and (max-width: 999px) {
  .edit-cnt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .edit-choice-cnt {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .edit-form-cnt {
    flex-direction: row;
  }

  .edit-choice-button {
    border-style: none;
    background-color: var(--lightgray);
    font-size: 15px;
    height: 100px;
    width: 100%;
  }
  .edit-choice-button-displayed {
    border-style: none;
    background-color: #e1e1e1;
    font-size: 15px;
    height: 100px;
    width: 100%;
  }

  .edit-choice-button:hover {
    background-color: #e1e1e1;
    font-size: 15px;
    height: 100px;
    width: 100%;
  }

  .change-inputs-cnt {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .change-inputs-cnt > h2 {
    width: 100%;
    font-size: 15px;
  }

  .change-input {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200%;
    display: flex;
    min-width: 100%;
    font-size: 15px;
  }

  .separator-cnt {
    justify-content: center;
    align-items: center;
    display: flex;

    height: 50px;
  }

  .separator-vertical {
    margin-top: 1rem;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    background-color: #e1e1e1;
  }

  .separator-horizontal {
    height: 100px;
    border-radius: 2px;
    width: 8px;
    background-color: #e1e1e1;
  }
}
