.header {
  width: 100%;
  height: 250px;
  background-color: var(--secondary);
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header h1 {
  margin-bottom: -50px;
  font-size: 3.5rem;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  min-height: 100px;
}

/** LEADERBOARD **/

.leaderboard {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.second,
.first,
.third {
  padding: 0 30px;
}

.first {
  margin-top: -60px;
}

/** FILTERING **/

.filtering {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sort-buttons {
  display: flex;
}

.filtering button {
  background-color: var(--secondary);
  color: var(--black);
  border-radius: 10px;
  margin: 20px 10px 40px 0px;

  padding: 8px 20px;
  border: 2px var(--secondary) solid;
  cursor: pointer;
}

.filtering h1 {
  font-size: 30px;
  color: var(--black);
  margin-bottom: -5px;
}

.filtering button:hover {
  background-color: rgba(255, 0, 0, 0);
  border: 2px var(--secondary) solid;
}

.filterbyclub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterbyclub img {
  width: 20px;
  margin-right: 5px;
}

/** TABLE **/

.tables {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 200px;
}

.table-header {
  color: var(--secondary);
  display: flex;
  background-color: var(--primary);
  padding: 0 50px;
}

.rank,
.name,
.club,
.points,
.fans {
  padding: 10px 5px;
  text-align: center;
}

.fans {
  width: 10%;
}

.rank,
.points {
  width: 10%;
}

.name {
  width: 40%;
}

.club {
  width: 40%;
}

.table-content {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.img-club img {
  width: 30px;
  margin-right: 5px;
}

.img-club {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-element {
  padding: 15px 50px;
  display: flex;
  cursor: pointer;
  background-color: var(--lightgray);
  border-bottom: 1px solid lightgray;
}

.table-element-active {
  padding: 15px 50px;
  display: flex;
  cursor: pointer;
  background-color: rgb(224, 224, 224);
  color: black;
  border-bottom: 1px solid lightgray;
}

.table-element:hover,
.table-element-active:hover {
  background-color: var(--secondary);
}

.rank-table,
.points-table {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-table,
.img-club {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-btn,
.next-btn {
  background-color: var(--primary);
  color: white;
  width: 70px;
  height: 40px;
  border-style: none;
  margin-left: 10px;
  cursor: pointer;
}

.step-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: var(--hover-blue);
}

.loading-standing {
  display: flex;
  justify-content: center;

  margin-top: 50px;
  text-align: center;
}

button[disabled] {
  opacity: 0.2;
}

.club-sort {
  margin-top: 15px;
}

.club-rank {
  max-width: 300px;
  min-height: 60px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.club-rank h1 {
  font-size: 2rem;
  color: white;
}

.club-sort,
.player-sort {
  padding: 50px;
  border-radius: 1em;
  background-color: rgb(240, 240, 240);
}

.team-tables {
  display: flex;
  justify-content: space-between;
}

.supporter-table {
  width: 39%;
}

.main-table {
  width: 60%;
}

.supporters {
  margin-left: 100px;
}
