.links-cnt {
  margin-left: 15px;
}

.loginbtn-nav {
  background-color: var(--secondary);
  color: var(--hover-blue);
  width: 70%;
  margin: auto;
  margin-left: 15%;
  padding: 10px 10px;
  border-style: none;
  margin-top: 30px;
  cursor: pointer;
}

.loginbtn-nav:hover {
  background-color: var(--hover-blue);
  color: white;
}

.links-cnt h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;
  color: var(--secondary);
  letter-spacing: 2px;
}

.links a,
.standings a {
  color: white;
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: column;
}

.standings {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.rank-nav-cnt {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.currentrank {
  background-color: var(--lightgreen);
  color: var(--darkgreen);
  font-size: 12px;
  border-radius: 10px;
  min-width: 20px;
  height: 22px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
