.welcome-nav {
  color: white;
  margin: 30px 15px;
}

.currentrank {
  background-color: var(--lightgreen);
  color: var(--darkgreen);
  font-size: 12px;
  border-radius: 10px;
  min-width: 20px;
  height: 22px;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-nav h1 {
  font-size: 20px;
}
.loginbtn-nav {
  background-color: var(--secondary);
  color: var(--hover-blue);
  width: 70%;
  margin: auto;
  margin-left: 15%;
  padding: 10px 10px;
  border-style: none;
  margin-top: 30px;
  cursor: pointer;
}

.loginbtn-nav:hover {
  background-color: var(--hover-blue);
  color: white;
}

.logout-btn {
  cursor: pointer;
  border-style: none;
  background-color: rgba(240, 248, 255, 0);
  color: var(--lightgray);
}

.links-cnt h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 15px;
  font-size: 18px;
  color: var(--secondary);
  letter-spacing: 2px;
}

.links a,
.standings a {
  color: white;
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: column;
}

.active-cnt {
  display: flex;
  flex-direction: column;
}

.like a {
  text-decoration: none;
  color: white;
}

.star-icon {
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.standings {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.rank-nav-cnt {
  padding: 5px 15px;
}

.active {
  background-color: var(--hover-blue);
  padding: 5px 0px 5px 8px;
}

.rank-nav-cnt- {
  padding: 5px 15px 5px 15px;
  display: flex;
  justify-content: space-between;
}

.active-cnt-elem {
  display: flex;
  padding: 5px 0px 5px 15px;
}

.active-cnt-elem a {
  color: white;
  text-decoration: none;
}

.active-cnt-elem-active {
  background-color: var(--hover-blue);
  display: flex;
  padding: 5px 0px 5px 15px;
}
