.stroke-video {
  height: 30px;
  width: 80%;
  margin-left: 10%;
  background-color: var(--primary);
}

.video-feed {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 200px;
}

.video-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  margin: 1vh 1%;
  height: 300px;
  background-color: var(--lightgray);
}

.follow-page {
  min-height: 100vh;
}
